h1, h2{
  text-align: center;
  width: 100%;
}

body {
  margin: auto;
  width: 65%;
  background-color: rgb(213, 234, 249);
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

/* ////// Table Styling ////////*/
table {
  margin: auto;
  border-collapse: collapse;
  width: 100%;
  background-color: rgb(255, 255, 255);
}

#table-div{
  margin: auto;
  display: flex;
  align-items: center;
}
#load-data-button{
  margin-left: 10px;
  margin-right: 3%
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: rgb(233, 224, 232);
}

/* //////// Form Styling //////// */
.form-div {
  background-color: rgb(176, 195, 236);
  display: flex; 
  flex-wrap: wrap;
  text-align: center;
  border: 1px solid rgb(110, 110, 110); 
}

form {
  margin: auto; 
}

label {
  float: left;
}

input {
  float: right;
  margin-left: 20px
}

label,input{
  margin-bottom: 8px;
}

/* //////// Other Styling //////// */
hr {
  background-image: linear-gradient(to right, rgb(213, 234, 249), rgb(110, 110, 110), rgb(213, 234, 249));
  height: 1px;
  border: 0;
}

button {
  background-color: rgb(160, 15, 160);
  border-radius: 5px;
  font-size: 18px;
  font-family: monospace;
  color: white;
  padding: 10px;
  cursor: pointer;
  
}

button:hover{
  background-color:rgb(114, 12, 114);
}